# Aladin auth informations
bookple:
    id: 'aladin@user.id'
    password: 'aladin_password'

# Store file path
xlsx:
    file: '/xlsx/path.xlsx'

# Fetch page count
# if value is negative, 0 or `full`, to set full sync
page: 10
